*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none}
body{background-color: #f0f1f1;}
.cf:after{
	content: "";
	display: block;
	clear: both;
}
.kuang .liang a{
	background-color: #dd4012;
	color:#fff;
}
.kuang{
	background-color: #323232;
	border-top:1px solid #3a3a3a;
	line-height:47px;
}
.banxin{
	width:1100px;
	margin:0 auto;
}
.banxin1{
	position:relative;
}
.banxin1 ul{
	margin-left:210px;
	float:left;
}
.banxin1 ul li{
	float:left;
	font-size:13px;
	color:#a6a6a6;
	text-align:center;
}
.banxin1 li a{
	color:#a6a6a6;
	width:87px;
	display:block;
	transition:all 0.7s;
}
.banxin1 li:hover a{
	background-color: #dd4012;
	color:#fff;
}
.div1{
	float:right;
}
.div1 img{
	float:left;
	display:block;
	margin-top:16px;
	margin-left:8px;
}
.div1 p{
	float:left;
	font-size:13px;
	color:#666;
	margin-left:8px;
}
.div2{
	position:absolute;
	top:0;
	left:0;
	z-index: 2;
}
.logo{
	background-image: url(../images/w1.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:220px;
}
.kuang1{
	position:relative;
	margin-bottom:28px;
}
.tiao{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-color:rgba(0,0,0,0.4);
}
.kuang2 li{
	float:left;
	font-size:14px;
}
.kuang2 li a{
	display: block;
	color:#333;
	padding:0 15px 0 15px;
	line-height:45px;
	background-color: #cdcdcd;
	margin-left:1px;
	transition:all 0.7s;
}
.kuang2 li:hover a{
	background-color: #dd4012;
	color:#fff;
}
.kuang3 h1{
	font-size:30px;
	color:#666;
	text-align:center;
	margin-top:45px;
}
.kuang3 h2{
	font-size:20px;
	color:#dd4012;
	text-align:center;
	line-height:45px;
}
.ku{
	float:left;
	height:372px;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
}
.ku p{
	width:210px;
	font-size:14px;
	color:#333;
	line-height:20px;
	margin-left:30px;
}
.ku h3{
	font-size:17px;
	color:#dd4012;
	text-align:center;
	margin-bottom:25px;
}
.ku .a1{
	display:block;
	text-align:center;
	font-size:14px;
	color:#333;
	line-height:38px;
	background-color: #a6a6a6;
	border-radius:5px;
	width:207px;
	margin:35px 0 20px 30px;
	transition:all 0.7s;
}
.ku2 .a1{
	margin-top:55px;
}
.ku .a1:hover{
	background-color: #dd4012;
	color:#fff;
}
.ku1{
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
}
.ku2{
	border-right:1px solid #e0e0e0;
}
.kuang4 h1{
	font-size:20px;
	color:#dd4012;
	text-align:center;
	margin-top:40px;
}
.kuang4 .p1{
	font-size:14px;
	color:#333;
	text-indent:2em;
	line-height:25px;
	margin-bottom:30px;
}
.xku{
	float:left;
	width:344px;
	padding:0 38px 0 38px;
	box-sizing:border-box;
	border:1px solid #e0e0e0;
}
.xku img{
	display:block;
	margin:35px auto 10px;
	width:57px;
	height:95px;
}
.xku p{
	line-height:25px;
	margin-bottom:20px;
}
.xku1{
	margin:0 30px 0 30px;
}
.kuang5{
	background-color: #323232;
	height:82px;
	margin-top:40px;
}
.kuang5 a img{
	display:block;
	float:left;
	margin-top:24px;
}
.kuang5 ul{
	float:right;
}
.kuang5 ul li{
	float:right;
	font-size:12px;
	margin-left:20px;
	margin-top:28px;
}
.kuang5 li a{
	color:#999;
	transition:all 0.7s;
}
.kuang5 li a:hover{
	color:#dd4012;
}
.kuang5 p{
	float:right;
	font-size:12px;
	color:#666;
	margin-top:10px;
}
