*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none}
body{background-color: #f0f1f1;}
.cf:after{
	content: "";
	display: block;
	clear: both;
}
.kuang .liang a{
	background-color: #dd4012;
	color:#fff;
}
.kuang{
	background-color: #323232;
	border-top:1px solid #3a3a3a;
	line-height:47px;
}
.banxin1{
	position:relative;
	width:1100px;
	margin:0 auto;
}
.banxin1 ul{
	margin-left:210px;
	float:left;
}
.banxin1 ul li{
	float:left;
	font-size:13px;
	color:#a6a6a6;
	text-align:center;
}
.banxin1 li a{
	color:#a6a6a6;
	width:87px;
	display:block;
	transition:all 0.6s;
}
.banxin1 li:hover a{
	background-color: #dd4012;
	color:#fff;

}
.div1{
	float:right;
}
.div1 img{
	float:left;
	display:block;
	margin-top:16px;
	margin-left:8px;
}
.div1 p{
	float:left;
	font-size:13px;
	color:#666;
	margin-left:8px;
}
.div2{
	position:absolute;
	top:0;
	left:0;
	z-index: 2;
}
.banxin2{
	background-color: #fff;
	width:1100px;
	padding:45px 0 0 50px;
	box-sizing:border-box;
	margin:95px auto 50px auto;
}
.banxin2 h3{
	font-size:18px;
	color:#333;
	margin-bottom:15px;
}
.banxin2 ul{
	width:990px;
	border-bottom:1px solid #f0f1f1;
	line-height:30px;
	margin-bottom:32px;
}
.banxin2 ul li{
	float:left;
	font-size:12px;
	color:#333;
}
.banxin2 .li1{
	float:right;
}
.banxin2 li a{
	color:#999;
	transition:all 0.7s;
	margin-left:15px;
}
.banxin2 li a:hover{
	color:#dd4012;
}
.banxin2>a{
	width:990px;
	height:300px;
	display:block;
	overflow:hidden;
	margin-bottom:33px;
}
.banxin2>a img{
	display:block;
	transition:all 0.7s;
} 
.banxin2>a img:hover{
	transform:scale(1.1);
}
.banxin2>p{
	font-size:14px;
	color:#333;
	margin-bottom:25px;
	line-height:30px;
	width:990px;
}
.xia{
	width:990px;
	border-top:1px solid #f0f1f1;
}
.xia p{
	font-size:12px;
	float:left;
	line-height:50px;
	margin-bottom:50px;
}
.xia p span{
	color:#999;
	margin-right:5px;
}
.xia p a{
	color:#333;
	transition:all 0.7s;
}
.xia p a:hover{
	color:#dd4012;
}
.xia .p1{
	float:right;
}
.banxin{
	width:1100px;
	margin:0 auto;
}
.kuang5{
	background-color: #323232;
	height:82px;
	margin-top:40px;
}
.kuang5 a img{
	display:block;
	float:left;
	margin-top:24px;
}
.kuang5 ul{
	float:right;
}
.kuang5 ul li{
	float:right;
	font-size:12px;
	margin-left:20px;
	margin-top:28px;
}
.kuang5 li a{
	color:#999;
	transition:all 0.7s;
}
.kuang5 li a:hover{
	color:#dd4012;
}
.kuang5 p{
	float:right;
	font-size:12px;
	color:#666;
	margin-top:10px;
	margin-bottom:60px;
}